@model IEnumerable<Vehicle>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="text-align:center; margin-top:20px; margin-bottom:100px">Welcome Admin!</h1>

<div class="container">
    <div class="">
        <input type="checkbox" id="checkAll" /> Check All
    </div>
    <div class="float-sm-right" style="margin-bottom:10px">
        <a asp-controller="Vehicle" asp-action="AddNewVehicle" class="btn btn btn-sm btn-success" name="newVehicle" id="newVehicle">New</a>

        @*<a asp-controller="Vehicle" asp-action="EditVehicle" class="btn btn-warning" name="editVehicle" id"editVehicle">Edit</a>*@
        @*<button type="button" class="btn btn-warning" name="editVehicle" id="editVehicle" data-toggle="modal" data-target="#editModal">Edit</button>*@

        <a id="editButton" class="btn btn-sm btn-warning">Edit</a>
        <button type="button" class="btn btn-sm btn-danger" name="deleteVehicle" id="deleteVehicle" data-toggle="modal" data-target="#deleteModal">Delete</button>
        <button type="button" class="btn btn-sm btn-danger" name="bulkDeleteVehicle" id="bulkDeleteVehicle" data-toggle="modal" data-target="#bulkDeleteModal">Bulk Delete</button>
    </div>

    @foreach (var v in Model)
    {
        <!-- The layout for all the vehicles presented on the Admin-page: -->
        <table class="table table-bordered table-striped">
            <tr>
                <td><input type="checkbox" class="chk" value="@v.Id" /> @v.Brand @v.Model, @v.RegNr</td>
            </tr>
        </table>

        <!-- This is the deleteModal to make sure that the user really wants to delete a vehicle? -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mx-auto" style="text-align:center" id="deleteModalLabel">Are you sure that you want to delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="text-align:center">Press the Delete-button to confirm your delete...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <form asp-action="DeleteVehicle" method="post">
                            <input type="hidden" name="vehicleId" value="@v.Id" />
                            <button type="submit" id="confirmVehicleDelete" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- This is the bulkDeleteModal to make sure that the user really wants to delete several vehicles? -->
        <div class="modal fade" id="bulkDeleteModal" tabindex="-1" role="dialog" aria-labelledby="bulkdDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mx-auto" id="bulkDeleteModalLabel">Are you sure that you want to do a bulk delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="text-align:center">You are about to delete several vehicles from the page, are you sure that you want to do that?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <form asp-action="BulkDeleteVehicle" method="post">
                            <input type="hidden" name="vehicleId" value="@v.Id" />
                            <button type="submit" id="confirmVehicleBulkDelete" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- LogOut-button: -->
<div class="container" style="margin-bottom:10px">
    <div class="row">
        <div class="col-sm-12">
            <div class="float-sm-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logga ut</a>
                }
            </div>
        </div>
    </div>
</div>