@*@model VehiclesSearchViewModel*@

<div class="container">
    <div class="">
        <div id="filterBox">
            <form>
                <div class="form-group">
                    <label>Årstyp</label>
                    <select class="form-control"></select>
                </div>
                <div class="form-group">
                    <label>Bränsle</label>
                    <select class="form-control">
                        <option selected>Bensin</option>
                        <option>Disel</option>
                        <option>El</option>
                        <option>Miljöbränsle/Hybrid</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Karosstyp</label>
                    <select class="form-control">
                        <option selected>Småbil</option>
                        <option>Sedan</option>
                        <option>Halvbil</option>
                        <option>Kombi</option>
                        <option>SUV</option>
                        <option>Coupé</option>
                        <option>Cab</option>
                        <option>Familjebuss</option>
                        <option>Yrkesfordon</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pris</label>
                    <input class="form-control" type="range" />
                </div>
                <div class="form-group">
                    <label>Mil</label>
                    <input class="form-control" type="range" />
                </div>
                <div class="form-group">
                    <label>Växellåda</label>
                    <select class="form-control">
                        <option selected>Manuell</option>
                        <option>Automat</option>
                    </select>
                </div>


            </form>
        </div>
    </div>


    @*<div class="row">
        @foreach (var v in Model.Vehicles)
        {

            <div class="row">
                <input type="hidden" value="@v.Id" />
                <div class="col-5">
                    @if (Model.Path == null)
                    {
                        <img src="https://via.placeholder.com/300x150" />
                    }
                    else
                    {
                        <img src="@Model.Path" />
                        
                    }
                </div>
                <div class="col-4">
                    <span>@v.Office</span>
                    <h3>@v.Brand @v.Model @v.ModelDescription @v.Year</h3>
                    <span>@v.Fuel | @v.Gearbox | @v.Kilometer</span>
                    <h4>@v.Price Kr</h4>
                </div>
                <div class="col-3 float-sm-right">
                    <span>@v.UpdatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                </div>
                <a asp-action="Vehicle" class="btn btn-success" asp-route-vehicleId="@v.Id">
                    Mer information...
                </a>
            </div>
        }
    </div>
    <div page-model="@Model.Pager" page-action="VehicleList">

    </div>*@
</div>

@*@Html.ActionLink("Load next 8 Vehicles", "Vehicles", "Controller", new { page = Model.Pager.CurrentPage + 1 })*@
