@model VehiclesSearchViewModel

<p>This is the Vehicle Index page!</p>

<div class="container">
    <div class="row">
        <div id="filterBox">
            <form>
                @*TODO: Fix this form with the current model*@
                <div class="form-group">
                    <label>Årstyp</label>
                    <select class="form-control"></select>
                </div>
                <div class="form-group">
                    <label>Bränsle</label>
                    <select class="form-control">
                        <option selected>Bensin</option>
                        <option>Disel</option>
                        <option>El</option>
                        <option>Miljöbränsle/Hybrid</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Karosstyp</label>
                    <select class="form-control">
                        <option selected>Småbil</option>
                        <option>Sedan</option>
                        <option>Halvbil</option>
                        <option>Kombi</option>
                        <option>SUV</option>
                        <option>Coupé</option>
                        <option>Cab</option>
                        <option>Familjebuss</option>
                        <option>Yrkesfordon</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pris</label>
                    <input class="form-control" type="range" />
                </div>
                <div class="form-group">
                    <label>Mil</label>
                    <input class="form-control" type="range" />
                </div>
                <div class="form-group">
                    <label>Växellåda</label>
                    <select class="form-control">
                        <option selected>Manuell</option>
                        <option>Automat</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        @foreach (var v in Model.Vehicles)
        {
            <div class="row">
                <div class="col-4">
                    @if (v.Picture != null)
                    {
                        <img src="https://via.placeholder.com/300x150" />
                    }
                    else
                    {
                        <img src="@v.Picture" />
                    }
                </div>
                <div class="col-5">
                    <span>@v.Office</span>
                    <h3>@v.Brand @v.Model @v.ModelDescription @v.Year</h3>
                    <span>@v.Fuel | @v.Gearbox | @v.Kilometer</span>
                    <h4>@v.Price Kr</h4>
                </div>
                <div class="col-3">
                    <span>@v.UpdatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                </div>
            </div>
            @*<h1>@v.Brand @v.Model @v.ModelDescription, @v.Year</h1>*@
        }
    </div>
</div>

@*@Html.ActionLink("Load next 8 Vehicles", "Vehicles", "Controller", new { page = Model.Pager.CurrentPage + 1 })*@

<div page-model="@Model.Pager" page-action="VehicleList">

</div>

