@*@model FilterVehicleViewModel*@
@model IEnumerable<Vehicle>

<div class="container">
    <div>
        <div>
            <form asp-controller="Vehicle" asp-action="Index" method="post">
                <div class="row">
                    <div class="col">
                            @*<div class="form-group">
                                <label asp-for="Year">Årstyp</label>
                                <select asp-for="Year" class="form-control">
                                    <option disabled selected>Välj</option>
                                    <option value="modern-00">Modern-2000</option>
                                    <option value="00-90">2000-1990</option>
                                    <option value="90-80">1990-1980</option>
                                    <option value="80-60">1980-1960</option>
                                    <option value="60-old">1960-Older</option>
                                </select>
                            </div>*@
                        </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="fuel">Bränsle</label>
                            <select name="fuel" class="form-control">
                                <option disabled selected>Välj</option>
                                <option value="Bensin">Bensin</option>
                                <option value="Diesel">Diesel</option>
                                <option value="El">El</option>
                                <option value="Miljöbränsle/Hybrid">Miljöbränsle/Hybrid</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="body">Karosstyp</label>
                            <select name="body" class="form-control">
                                <option disabled selected>Välj</option>
                                <option value="Småbil">Småbil</option>
                                <option value="Sedan">Sedan</option>
                                <option value="Halvbil">Halvbil</option>
                                <option value="Kombi">Kombi</option>
                                <option value="SUV">SUV</option>
                                <option value="Coupé">Coupé</option>
                                <option value="Cab">Cab</option>
                                <option value="Familjebuss">Familjebuss</option>
                                <option value="Yrkesfordon">Yrkesfordon</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="gearbox">Växellåda</label>
                            <select name="gearbox" class="form-control">
                                <option disabled selected>Välj</option>
                                <option value="Manuell">Manuell</option>
                                <option value="Automat">Automat</option>
                            </select>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Pris</label>
                            <input class="form-control" type="range" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Mil</label>
                            <input class="form-control" type="range" />
                        </div>
                    </div>
                </div>*@

                <div class="row" style="float:right;">
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit" id="filterSubmitBtn">Filter</button>&nbsp;
                        @*<button type="reset" class="btn btn-sm btn-secondary">Clear</button>*@
                        <button type="submit" class="btn btn-sm" id="seeAllVehiclesBtn">See all vehicles</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <br />
    <br />
    <hr />
    <br />
    
    <div>
        @foreach (var v in Model)
        {
            <div class="row">
                <input type="hidden" value="@v.Id" />
                <div class="col-5">
                    @if (v.Images != null)
                    {
                        foreach (var i in v.Images)
                        {
                            @*<img src="@i.Path" />*@
                        }
                    }
                    else
                    {
                        <img src="~/defaultimages/Image_Upload.png" />
                    }
                </div>
                <div class="col-4">
                    <span>@v.Office</span>
                    <h3>@v.Brand @v.Model @v.ModelDescription @v.Year</h3>
                    <span>@v.Fuel | @v.Gearbox | @v.Kilometer</span>
                    <h4>@v.Price Kr</h4>
                </div>
                <div class="col-3 float-sm-right">
                    <span><small><i>@v.UpdatedDate.ToString("dd/MM/yyyy hh:mm")</i></small></span>
                </div>
                <a asp-action="Vehicle" class="btn btn-sm btn-success" asp-route-vehicleId="@v.Id">
                    Mer information...
                </a>
            </div>
            <br />
            <br />
        }

    </div>
    @*<div page-model="@Model.Pager" page-action="VehicleList">

        </div>*@
</div>

@*@Html.ActionLink("Load next 8 Vehicles", "Vehicles", "Controller", new { page = Model.Pager.CurrentPage + 1 })*@



<script src="~/js/site.min.js"></script>
<script>
    $(document).ready(function () {
        $('#seeAllVehiclesBtn').hide();
        $('#filterSubmitBtn').on('click', function () {
            $('#seeAllVehiclesBtn').show();
        });


    });
</script>
