@model IEnumerable<Vehicle>



<div class="container">
    <form asp-controller="Vehicle" asp-action="Index" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="year">Årstyp</label>
                    <select name="year" class="form-control">
                        <option disabled selected>Välj</option>
                        @foreach (var y in ViewBag.vehicleYearOptions)
                        {
                            <option value="@y">@y</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="fuel">Bränsle</label>
                    <select name="fuel" class="form-control">
                        <option disabled selected>Välj</option>
                        <option value="Bensin">Bensin</option>
                        <option value="Diesel">Diesel</option>
                        <option value="El">El</option>
                        <option value="Miljöbränsle/Hybrid">Miljöbränsle/Hybrid</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="body">Karosstyp</label>
                    <select name="body" class="form-control">
                        <option disabled selected>Välj</option>
                        <option value="Småbil">Småbil</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Halvbil">Halvbil</option>
                        <option value="Kombi">Kombi</option>
                        <option value="SUV">SUV</option>
                        <option value="Coupé">Coupé</option>
                        <option value="Cab">Cab</option>
                        <option value="Familjebuss">Familjebuss</option>
                        <option value="Yrkesfordon">Yrkesfordon</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="gearbox">Växellåda</label>
                    <select name="gearbox" class="form-control">
                        <option disabled selected>Välj</option>
                        <option value="Manuell">Manuell</option>
                        <option value="Automat">Automat</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="minPrice">Min pris</label>
                    <select name="minPrice" class="form-control">
                        <option disabled selected>Välj</option>
                        <option value="0">0</option>
                        <option value="10000">10 000</option>
                        <option value="20000">20 000</option>
                        <option value="30000">30 000</option>
                        <option value="40000">40 000</option>
                        <option value="50000">50 000</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="maxPrice">Max pris</label>
                    <select name="maxPrice" class="form-control">
                        <option disabled selected>Välj</option>
                        <option value="10000">10 000</option>
                        <option value="20000">20 000</option>
                        <option value="30000">30 000</option>
                        <option value="40000">40 000</option>
                        <option value="50000">50 000</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="maxKm">Max kilometer</label>
                    <select name="maxKm" class="form-control">
                        <option disabled selected>Välj</option>
                        <option value="5000">5 000</option>
                        <option value="10000">10 000</option>
                        <option value="20000">20 000</option>
                        <option value="30000">30 000</option>
                        <option value="40000">40 000</option>
                        <option value="50000">50 000</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div style="float:right;">
                    <div class="form-group">
                        <button class="btn  btn-primary" type="submit" id="filterSubmitBtn">Filter</button>&nbsp;
                        <button type="reset" class="btn  btn-secondary">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div style="float:right;">
        <div class="form-group">
            <a asp-controller="Vehicle" asp-action="Used" class="btn btn-sm" id="seeAllVehiclesBtn">Used vehicles</a> |
            <a asp-controller="Vehicle" asp-action="New" class="btn btn-sm" id="seeAllVehiclesBtn">New vehicles</a> |
            <a asp-controller="Vehicle" asp-action="Index" class="btn btn-sm" id="seeAllVehiclesBtn">All vehicles</a>
        </div>
    </div>


</div>

    <br />
    <br />
    <hr />
    <br />

    @* Div that shows all filtered vehicle results. *@
    <div>
        @foreach (var v in Model)
        {
            <div class="row">
                <input type="hidden" value="@v.Id" />
                <div class="col-5">
                    @if (v.Images != null)
                    {
                        foreach (var i in v.Images)
                        {
                            @*<img src="@i.Path" />*@
                        }
                    }
                    else
                    {
                        <img src="~/defaultimages/Image_Upload.png" />
                    }
                </div>
                <div class="col-4">
                    <span>@v.Office</span>
                    <h3>@v.Brand @v.Model @v.ModelDescription @v.Year</h3>
                    <span>@v.Fuel | @v.Gearbox | @v.Kilometer</span>
                    <h4>@v.Price Kr</h4>
                    <a asp-action="Vehicle" class="btn btn-sm btn-success" asp-route-brand="@v.Brand" asp-route-model="@v.Model" asp-route-modeldescription="@v.ModelDescription" asp-route-vehicleId="@v.Id">
                        Mer information...
                    </a>
                </div>
                <div class="col-3 float-sm-right">
                    <span><small><i>@v.UpdatedDate.ToString("dd/MM/yyyy hh:mm")</i></small></span>
                </div>
                <div></div>
            </div>
            <br />
            <br />
        }
    </div>

</div>

@*<script src="~/js/site.min.js"></script>
<script>
    $(document).ready(function () {

        $('#usedBtn').on('click', function () {

            $.ajax({
                url: '/Vehicle/Index',
                dataType: 'json',
                method: 'GET',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: { test: comments },
                success: function (data) {
                    // data is your result from controller
                    if (data.success) {
                        alert(data.message);
                    }
                },
                error: function (error) {
                    alert('error');
                }
            });

        });

    });
</script>*@

