@model IEnumerable<Vehicle>

@{
    Layout = null;
    
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicles</title>
</head>
<body>
    <p>This is the Vehicle Index page!</p>

    @*@foreach (var item in Model)
    {

        if (item.Used)
        {

        

         <div class="col-md-4">
            <div class="thumbnail">
            <img src="@item.Picture" data-holder-rendered="true" style="height: 150px; width: 50%; display: block;">
            <div class="caption">
                <h3 id="thumbnail-label">@item.Model</h3>
                <p>@item.Price</p>
                <p>@item.Brand</p>
                <p>@item.Color</p>
                <p>@item.Gearbox</p>
                <p>@item.Used</p>
            </div>
           </div>
          </div>

        }

    }*@


</body>
</html>
