@model IEnumerable<Vehicle>



<div class="row">
    @foreach (var v in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Logo/Ford-logo-2003-1366x768.png" data-holder-rendered="true" style="height: 150px; width: 50%; display: block;">
                <div class="caption">
                    <h3 id="thumbnail-label">@v.Model</h3>
                    <p>@v.Price</p>
                    <p>@v.Brand</p>
                    <p>@v.Color</p>
                    <p>@v.Gearbox</p>
                    <p>@v.Used</p>
                </div>
            </div>
        </div>
    }
</div>

