@model VehicleForSaleViewModel
@{
    Layout = "~/Views/Shared/_VehicleForSaleLayout.cshtml";
}
<div class="container" style="margin-top:50px">
    <div class="row">
        <!-- Carousel: -->
        <div class="col-sm-12" style="margin-bottom:20px">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <!-- Foreach that loops through all the images concerning the specific vehicleId: -->
                <div class="carousel-inner" style="width:100%">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/vehicle_images/Test_ABC123/1956d4bc-02be-4829-ab3e-22220c4f72f7_ABC123_test.jpg" alt="IMG_NOT_FOUND">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Föregående</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Nästa</span>
                </a>
            </div>
        </div>
        <!-- Bilmärke: -->
        <div class="col-sm-12" style="background-color:white; margin-bottom:20px">
            <h1>@Model.Vehicle.Brand @Model.Vehicle.Model</h1>
        </div>
        <div class="col-sm-12" style="background-color:lightgray; margin-bottom:20px; padding:10px;">
            <h6>
                <strong>Miltal: </strong>@Model.Vehicle.Kilometer <br />
                <strong>Modellbeskrivning: </strong>@Model.Vehicle.ModelDescription <br />
                <strong>År: </strong>@Model.Vehicle.Year <br />
                <strong>Kaross: </strong>@Model.Vehicle.Body <br />
                <strong>Färg: </strong>@Model.Vehicle.Color <br />
                <strong>Växellåda: </strong>@Model.Vehicle.Gearbox <br />
                <strong>Drivmedel: </strong>@Model.Vehicle.Fuel <br />
                <strong>Hästkrafter: </strong>@Model.Vehicle.Horsepower <br />
                <strong>Begagnad: </strong>@Model.Vehicle.Used <br />
                <strong>Leasbar: </strong>@Model.Vehicle.Leasable <br />
                <strong>Attribut: </strong>@Model.Vehicle.VehicleAttribute <br />
                <strong>Annons tillagd: </strong>@Model.Vehicle.AddedDate <br />
                <strong>Annons uppdaterad: </strong>@Model.Vehicle.UpdatedDate <br />
                <strong>Kontakta säljare: </strong> <!-- TODO: Can't reach the office phonenumber! --> @*@Model.Offices.Name*@
            </h6>
            <form>
                <h2 id="vehiclePrice"><strong>Pris: </strong>@Model.Vehicle.Price kr</h2>
                <h2 id="delPrice"><del><strong>Pris: </strong>@Model.Vehicle.Price kr</del></h2>
                <h1 id="newPrice">
                    <strong>Nytt pris:</strong>
                    @{
                        var a = Model.Vehicle.Price * 0.94;

                    }
                    @Math.Round(a, 2)
                </h1>
                <a id="taxFree" class="btn btn-sm btn-warning">utan moms</a>
            </form>
        </div>
        <div class="col-sm-12" style="background-color:orange; margin-bottom:20px; padding:10px;">
            <h1>PRISKALKYL:</h1>
            <form>
                <div class="input-group">
                    <label for="kalkylSelectName"></label>
                    <select id="kalkylSelect" class="form-control col-3" name="kalkylSelectName">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="36" selected>36</option>
                        <option value="48">48</option>
                        <option value="60">60</option>
                        <option value="72">72</option>
                    </select>
                    <a id="getKalkyl" class="btn btn-success form-control col-4">hämta pris i månaden</a>

                    <div id="kalkyl" class="col-3">

                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12" style="background-color:lightblue; margin-bottom:20px; padding:10px;">
            <h3>RELATERADE FORDON:</h3>

            @foreach (var v in Model.ListOfVehicles.Take(4))
            {
                <a asp-action="Vehicle" class="btn btn-sm btn-success" asp-route-vehicleId="@v.Id">
                    @v.Brand @v.Model | @v.Price kr
                </a>
            }

        </div>
        
        <div class="col-sm-12" style="background-color:white; margin-bottom:20px; padding:10px;">
            <!-- Back to the page that lists all the vehicles: -->
            <form asp-action="Index" asp-controller="Vehicle">
                <input class="btn btn-warning" type="submit" value="Till alla fordon" />
            </form>
            @*Send vehicle to a friend*@
            <div class="vehicleButtons" style="float:right">
                <!-- This form and its button allows you to share the vehicle: -->
                <form asp-action="SendMail" asp-controller="Mail" method="get">
                    <div class="form-group">
                        <div class="input-group">
                            @*Values for the mail*@
                            <input asp-for="Link" type="hidden" id="UrlAdvert" value='@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")' />
                            <input asp-for="vehicleId" type="hidden" value="@Model.Vehicle.Id" />
                            <input asp-for="Brand" type="hidden" value="@Model.Vehicle.Brand" />
                            <input asp-for="Model" type="hidden" value="@Model.Vehicle.Model" />
                            <input asp-for="ModelDescription" type="hidden" value="@Model.Vehicle.ModelDescription" />
                            <input asp-for="Year" type="hidden" value="@Model.Vehicle.Year" />
                            <input asp-for="CurrentOffice" type="hidden" value="@Model.Vehicle.Office" />

                            @*Send the mail*@
                            <input asp-for="Email" class="form-control rounded" placeholder="Skicka vidare" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required />
                            <input class="btn btn-success" type="submit" value="Dela" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.min.js"></script>
<script>
    $(document).ready(function () {
        $("#delPrice").hide();
        $("#newPrice").hide();
        $("#taxFree").click(function () {



            $("#vehiclePrice").toggle();
            $("#delPrice").toggle();
            $("#newPrice").toggle();
        });
        
        //let currentValue = $('#kalkylValue').value();
        //let retval = currentValue.value;

        let x = @Model.Vehicle.Price;

        //let e = document.getElementById("kalkylSelect");

        //let eOption = e.options[e.selectedIndex].value

        let eOption = $("#kalkylSelect").val();

        let y = eOption

        let z = x * 0.8;
            
        let b = z / y;

        let a = b * 1.045

        //$("#kalkyl").append(a);

        $("#getKalkyl").click(function () {
            console.log(a);

            $("#kalkyl").empty();

            $("#kalkyl").append(a);
        });
        
    });
</script>