@model VehicleForSaleViewModel

@{
    Layout = "~/Views/Shared/_VehicleForSaleLayout.cshtml";
}

<div class="container" style="margin-top:50px">
    <div class="row">
        <!-- Carousel: -->
        <div class="col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <!-- Foreach that loops through all the images concerning the specific vehicleId: -->
                <div class="carousel-inner" style="width:100%">
                    @foreach (var img in Model.Vehicle.Images)
                    {
                    <div class="carousel-item">
                        <img class="d-block w-100" src="@img.Path" alt="~/defaultimages/Image_Upload.png" data-toggle="modal" data-target="#vehicleModal">
                    </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Föregående</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Nästa</span>
                </a>
            </div>
        </div>

        <div class="col-sm-12" style="background-color:white; margin-bottom:20px; padding:10px;">
            <!-- TODO: Link img to Modal: -->
            <div class="col-sm-12" style="margin:0 auto;">
                @foreach (var img in Model.Vehicle.Images)
                {
                    <img class="img-thumbnailSpecialOne justify-content-xl-center" src="@img.Path" />
                }
            </div>
        </div>
        <!-- Bilmärke: -->
        <div class="col-sm-12" style="background-color:white; margin-bottom:20px">
            <h1>@Model.Vehicle.Brand @Model.Vehicle.Model</h1>
        </div>
        <div class="col-sm-12" style="background-color:lavender; margin-bottom:20px; padding:10px;">
            <h6>
                <strong>Miltal: </strong>@Model.Vehicle.Kilometer <br />
                <strong>Modellbeskrivning: </strong>@Model.Vehicle.ModelDescription <br />
                <strong>År: </strong>@Model.Vehicle.Year <br />
                <strong>Kaross: </strong>@Model.Vehicle.Body <br />
                <strong>Färg: </strong>@Model.Vehicle.Color <br />
                <strong>Växellåda: </strong>@Model.Vehicle.Gearbox <br />
                <strong>Drivmedel: </strong>@Model.Vehicle.Fuel <br />
                <strong>Hästkrafter: </strong>@Model.Vehicle.Horsepower <br />
                <strong>Begagnad: </strong>@Model.Vehicle.Used <br />
                <strong>Leasbar: </strong>@Model.Vehicle.Leasable <br />
                <strong>Attribut: </strong>@Model.Vehicle.VehicleAttribute <br />
                @*<strong>Annons tillagd: </strong>@Model.Vehicle.AddedDate <br />
                <strong>Annons uppdaterad: </strong>@Model.Vehicle.UpdatedDate <br />*@
                <strong>Kontakta säljare: </strong> <a href="tel:+460 @Model.Vehicle.OfficeId.PhoneNumber">&#9742;</a>
            </h6>
            <h4><strong>Pris (SEK): </strong>@Model.Vehicle.Price</h4>
            <h4><strong>Pris Exkl. Moms (SEK): </strong>@Model.Vehicle.Price</h4> <!-- TODO: Räkna bort 25% från priset! -->
        </div>
        <div class="col-sm-12" style="background-color:orange; margin-bottom:20px; padding:10px;">
            <h1>PRISKALKYL:</h1>
        </div>
        <div class="col-sm-12" style="background-color:lightblue; margin-bottom:20px; padding:10px;">
            <h1>RELATERADE FORDON:</h1>
        </div>
        <div class="col-sm-12" style="background-color:white; margin-bottom:20px; padding:10px;">
            <!-- Back to the page that lists all the vehicles: -->
            <button type="button" class="btn btn-warning">Tillbaka</button>
            <div class="vehicleButtons" style="float:right">
                <!-- This form and its button allows you to share the vehicle: -->
                <input asp-for="Email" placeholder="Ange emailadress..." />
                <a asp-controller="Mail" asp-action="SendMail" class="btn btn-info">Dela</a>
            </div>
        </div>

        <!-- CrarouselModal: -->
        <div class="modal fade" id="vehicleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body align-self-center" style="height:230px;">
                        <!--CAROUSEL CODE GOES HERE-->
                        <div id="modalCarousel" class="carousel">
                            <div class="carousel-inner"></div>
                            <a class="carousel-control left" href="#modalCarousel" data-slide="prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                            </a>
                            <img src="~/images/vehicle_images/Volvo_GGG777/17f04b4d-fd94-4797-8a16-87a897b2eace_volvo-c30-polestar_3.jpg" class="img-thumbnail" />
                            <a class="carousel-control right" href="#modalCarousel" data-slide="next">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>