@model Vehicle

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin - AddNewVehicle";
}

<div style="text-align:center; margin-top:20px; margin-bottom:25px">
    <h2><strong>Add Vehicle</strong></h2>
</div>
<hr />

<div>
    <form asp-action="AddNewVehicle" method="post" enctype="multipart/form-data" class="form-horizontal">

        <div class="form-group">
            <label asp-for="RegNr" class="control-label col-sm-2"><strong>Registreringsnummer:</strong></label>
            <div class="col-sm-10">
                <input asp-for="RegNr" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Brand" class="control-label col-sm-2"><strong>Märke:</strong></label>
            <div class="col-sm-10">
                <input asp-for="Brand" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Model" class="control-label col-sm-2"><strong>Modell:</strong></label>
            <div class="col-sm-10">
                <input asp-for="Model" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ModelDescription" class="control-label col-sm-2"><strong>Modellbeskrivning:</strong></label>
            <div class="col-sm-10">
                <textarea asp-for="ModelDescription" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Year" class="control-label col-sm-2"><strong>Årsmodell:</strong></label>
            <div class="col-sm-10">
                <select asp-for="Year" class="form-control" id="">
                    <option selected>Välj</option>
                    @foreach (var year in ViewBag.vehicleYearOptions)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Kilometer" class="control-label col-sm-2"><strong>Kilometer:</strong></label>
            <div class="col-sm-10">
                <input asp-for="Kilometer" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label col-sm-2"><strong>Pris:</strong></label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Body" class="control-label col-sm-2"><strong>Karosstyp:</strong></label>
            <div class="col-sm-10">
                <select asp-for="Body" class="form-control" id="">
                    <option selected>Välj</option>
                    @foreach (var bodyType in ViewBag.bodyTypes)
                    {
                        <option value="@bodyType">@bodyType</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Color" class="control-label col-sm-2"><strong>Färg:</strong></label>
            <div class="col-sm-10">
                <input asp-for="Color" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Gearbox" class="control-label col-sm-2"><strong>Växellådstyp:</strong></label>
            <div class="col-sm-10">
                <select asp-for="Gearbox" class="form-control" id="">
                    <option selected>Välj</option>
                    @foreach (var gear in ViewBag.gears)
                    {
                        <option value="@gear">@gear</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Fuel" class="control-label col-sm-2"><strong>Bränsletyp:</strong></label>
            <div class="col-sm-10">
                <select asp-for="Fuel" class="form-control" id="">
                    <option selected>Välj</option>
                    @foreach (var fuelType in ViewBag.fuelTypes)
                    {
                        <option value="@fuelType">@fuelType</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Horsepower" class="control-label col-sm-2"><strong>Hästkrafter:</strong></label>
            <div class="col-sm-10">
                <input asp-for="Horsepower" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Used" class="control-label col-sm-2"><strong>Begagnad:</strong></label>
            <div class="col-sm-10">
                <label class="check-inline"><input asp-for="Used" type="radio" name="radioOption" value="true">  Ja</label>
                <label class="check-inline"><input asp-for="Used" type="radio" name="radioOption" value="false">  Nej</label>
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="Used" class="control-label col-sm-2"><strong>Begagnad:</strong></label>
                <div class="col-sm-10">
                    <label class="checkbox-inline"><input asp-for="Used" type="checkbox" value="true">  Ja</label>&nbsp;&nbsp;
                    <label class="checkbox-inline"><input asp-for="Used" type="checkbox" value="false">  Nej</label>
                </div>
            </div>*@

        <div class="form-group">
            <label asp-for="Office" class="control-label col-sm-2"><strong>Anläggning:</strong></label>
            <div class="col-sm-10">
                <select asp-for="Office" class="form-control" id="">
                    <option selected>Välj</option>
                    @foreach (var office in ViewBag.offices)
                    {
                        <option value="@office">@office</option>
                    }
                </select>
            </div>
        </div>

        @* TODO: fix so you can visually see the files you have uploaded. *@
        <div class="form-group">
            <label asp-for="Picture" class="control-label col-sm-2"><strong>Bilder:</strong></label>
            @*<div class="col-md-9">*@

            <div class="col-sm-4">

                <div class="btn">
                    <input asp-for="Picture" type="file" name="uploadedImage" id="browseImages" class="form-control-file" multiple>
                </div>


                <div id="imgPreview" class="img-thumbnail" style="display:none;">
                    <img class="img-responsive" id="targetImg" style="height:100px; width:100%;" />
                    <hr />
                    <div class="caption">
                        <a class="btn btn-sm btn-warning" onclick="ClearPreview()">Ta bort</a>
                        <small><span id="description"></span></small>
                    </div>
                </div>


            </div>


            @*<input asp-for="Picture" type="file" id="browseImages" class="form-control-file" multiple>*@
            @*</div>*@
        </div>

        <div class="form-group">
            <label asp-for="Leasable" class="control-label col-sm-4"><strong>Leasbar för företag:</strong></label>
            <div class="col-sm-10">
                <label class="checkbox-inline"><input asp-for="Leasable" type="checkbox" value="true">  Ja</label>&nbsp;&nbsp;
                <label class="checkbox-inline"><input asp-for="Leasable" type="checkbox" value="false">  Nej</label>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="VehicleAttribute" class="control-label col-sm-2"><strong>Pipe-separerad attributlista:</strong></label>
            <div class="col-sm-10">
                <input asp-for="VehicleAttribute" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <button class="btn btn-primary" type="submit">Add Vehicle</button>
                <a asp-controller="Account" asp-action="Admin" class="btn btn-secondary">Cancel</a>
            </div>
        </div>

    </form>
</div>

<script src="~/js/site.min.js"></script>
<script>
    $(document).ready(function () {

        $("#browseImages").change(function () {
            var File = this.files;

            for (var i = 0; i != File.length; i++) {
                //ReadImage[i];
                if (File && File[i]) {
                    ReadImage(File[i]);
                }
            }

            //if (File && File[0]) {
            //    ReadImage(File[0]);
            //}
        });
    });

    var ReadImage = function (file) {
        var reader = new FileReader;
        var image = new Image;
        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                // Changing the image from byte to kilobyte here.
                var size = ~~(file.size / 1024) + "KB";
                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Size: " + size + ", " + height + " x " + width + ", " + type + "");
                $("#imgPreview").show();
            }
        }
    };

    var ClearPreview = function () {
        $("#browseImages").val('');
        $("#description").text('');
        $("#imgPreview").hide();
    };
</script>